*{ 
    margin: 0;
    padding: 0;
}
 #input{
    background-color: aliceblue;
    border: 0;
    border-radius: 5px 0px 0px 5px;
    width: 500px;
    margin-left: auto;
    padding:5px 10px;
}
#button-addon2{
    background-color: rgba(59, 45, 100, 1);
    color: aliceblue;
    margin-right: auto;
    padding: 5px 15px;
    border-radius: 0px 5px 5px 0px;
}
.detailsBtn{
    border-radius: 8px;
    padding: 0%;
    border: 0;
    width: 220px;
    margin: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.detailsBtn img{
    border-radius: 8px 8px 0px 0px;
    height: 230px;
    width: 220px;
    margin: 0;
}
#foodList{
    padding: 0 100px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
}
.foodDetails{
    margin:100px auto;
    width: 580px;
    border-radius: 15px;
    padding-bottom: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.foodImage{
    width: 580px;
    height: 280px;
    margin-bottom: 20px;
    object-fit: cover;
    border-radius:15px 15px 0px 0px;
}
.foodDetails h1,h6,p{
    margin-left: 20px;
}
.logo{
    width: 16px;
}